<% content_for :title do %>
  | Reaction News
<% end %>

<div class="full_row inner_content">
  <h2 class="page_header">Recent News</h2>
  <%= render :partial => 'blogs/blog_post', :locals => {:blog => @blog} %>
</div>

<div class="full_row inner_content">
  <h2 class="page_header">Archived News</h2>
  <% @blogs.each do |blog| %>
    <% unless blog.id == @blog.id %>
      <%= render :partial => 'micro_post', :locals => {:blog => blog} %>
    <% end %>
  <% end %>
</div>

