<div class="full_row inner_content">
  <%= render :partial => 'blogs/blog_post', :locals => {:blog => @blog} %>
  <%= link_to "Back", :back %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e4d7458180c35f7"></script>
<% end %>
