<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @test_question.game_id %>
</p>


<%= link_to 'Edit', edit_test_question_path(@test_question) %> |
<%= link_to 'Back', test_questions_path %>
