<div id="banner_edge_left" class="banner_edge">
  <div class="banner_button l highlight"></div>
</div>
<div id="banner_edge_right" class="banner_edge">
  <div class="banner_button r highlight"></div>
</div>