<div id="banner_<%= banner_id %>" class="panel clearfix">
  <div class="column_2 column_left">
	  <%= image_tag('banner/banner_1.png') %>
	</div>
  <div class="column_2 column_right">
	  <h2 class="page_header">The Nuclear Energy Industry</h2>		
    <h3>
    	Unlimited Career Opportunities
    </h3>
		<p>
		  With over 1/3 of the nuclear industry’s workforce approaching retirement, today’s students need to know about the growing demand for skilled nuclear professionals. The nuclear industry requires all types of engineers, technicians and operators, from high school graduates through PhDs. <span>Core Reaction</span> gives students tremendous insight into careers in nuclear power, as they assume critical roles in providing clean, efficient, reliable, and safe energy.
		</p>
		<p class="banner_quote"><span>Elizabeth McAndrew-Benavides</span>, Manager of Industry Infrastructure, Nuclear Energy Institute.</p>
	</div>
</div>
