<div id="banner_<%= banner_id %>" class="panel clearfix">
  <div class="column_2 column_left">
	  <%= image_tag('banner/banner_3.png') %>
	</div>
  <div class="column_2 column_right">
	  <h2 class="page_header">Nuclear Energy Game</h2>		
    <h3>
    	Power your future. Twenty years into the future, the air is emission free and the power is nuclear.
    </h3>
		<p>
		  Can you take on the challenge of <span>Core Reaction?</span> It’s up to you to create clean, safe nuclear energy to support your power-hungry city. As you learn how to create power through nuclear energy, you’ll discover that everyone has a role to play – and everyone faces obstacles!
		</p>
		<!-- <p class="banner_quote"><span>Elizabeth McAndrew-Benavides</span>, Manager of Industry Infrastructure, Nuclear Energy Institute.</p> -->
	</div>
</div>
