<div id="banner_<%= banner_id %>" class="panel clearfix">
  <div class="column_2 column_left">
	  <%= image_tag('banner/banner_2.png') %>
	</div>
  <div class="column_2 column_right">
	  <h2 class="page_header">Engaging Students</h2>		
    <h3>
    	Teaching and Inspiring STEM Careers
    </h3>
		<p>
		  Online science games are an effective teaching tool for a variety of reasons--learning content and career motivation are two potential outcomes.  When a game challenges a player to think like a professional, the role-play experience can be highly motivating in inspiring students to pursue STEM careers.
		</p>
		<p class="banner_quote"><span>Dr. Leslie Miller</span>, Executive Director, Center for Technology in Teaching and Learning, Rice University.</p>
	</div>
</div>
