<% content_for :title do %>
  | About Us
<% end %>

<div class="full_row inner_content">
  <h2 class="page_header">Core Reaction</h2>
  <h3 class="page_sub_header">Power Your Future! The year is 2032. The air is emission free and the power is nuclear.</h3>
  <%= image_tag("about/header.png") %>
</div>
<div class="full_row inner_content">
  <h3 class="page_sub_header">Can you take on the challenge of Core Reaction?</h3>
  <p>
    It’s up to you to create clean, safe nuclear energy to support your power-hungry city. As you learn how to create power through nuclear energy, you’ll discover that everyone has a role to play – and everyone faces obstacles!
  </p>
</div>
<div class="full_row inner_content">
  <h3 class="page_sub_header">Way back in 2012, the world came together to change.</h3>
  <p>
    The goal: free the globe from trash and air pollution. First off, non-biodegradable items could no longer be produced . . . . from plastic bags being replaced by simple woven cloth to crayons made with natural ink and wax, the world changed. Meanwhile, power plants and cars were rebuilt and recreated so they would no longer be adding carbon dioxide and other pollutants into the air and atmosphere.
  </p> 
</div>
<div class="full_row inner_content">
  <h3 class="page_sub_header">Carbon dioxide free nuclear energy became the choice of power around the world.</h3>
  <p>
    Now, twenty years later, it’s up to you to take charge of the nuclear power plants. Your elders have passed on what they know to you and your friends. You must each find your role within the power plant, and you must create the electricity that’s needed – or face the consequences. It’s going to take skills, quick thinking and the ability to work together to keep things running smoothly at the nuclear plant – and keep your city happy and content.
  </p>
</div>
<div class="full_row inner_content">
  <h3 class="page_sub_header">Can’t wait to get started?</h3>
  <p>
    <span class="bold">Core Reaction</span> will be available for free online game play in spring of 2013. Parents and teachers are invited to <%= link_to "sign up today", contact_path %> to be notified when <span class="bold">Core Reaction</span> is released.
  </p>
</div>
<div class="cta_row go_link right">
  <%= image_tag("go.png") %>
  <%= link_to "Get Involved Today", contact_path, :class => "cta_button" %>
</div>