<div class="c2link">
  <%= link_to raw("Site developed by Cube2Media&trade;"), "http://www.cube2media.com", :target => "_blank" %><br/>
  <%= link_to raw("Game design by Imagine Educatiion&trade;"), "http://www.imagineeducation.org", :target => "_blank" %>
</div>