<h1 id="logo">
  <%= link_to "Core Reaction", root_path %>
</h1>
<%= render :partial => "layouts/main_nav" %>
<div id="top_nav">
  <ul>
    <li><%= link_to "RSS", "" %></li>
    <li><%= link_to "Login", "" %></li>
  </ul>
</div>